{% extends 'base.html' %}

{% block main %}
<h1>Edit Post</h1>
<form method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description">{{ post.description }}</textarea>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="text" class="form-control" id="image" name="image" value="{{ post.image }}">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a href="{{ url_for('posts.index') }}" class="btn btn-secondary">Back to All Posts</a>
</form>
{% endblock %}
