{% extends './base.html' %}

{% block main %}
  <h1 style="text-align: center"> Add new Student</h1>

<form method="post">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" aria-describedby="emailHelp">
  </div>
 <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="text" name="image" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label class="form-label">Grade</label>
    <input type="number" name="grade" class="form-control" aria-describedby="emailHelp">
  </div>
    </div>
    <div class="mb-3">
    <label class="form-label">Track</label>
    <select class="form-select" name="track_id">
        {% for track in tracks %}
            <option value="{{track.id}}">{{track.name}}</option>
        {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}