{% extends 'base.html' %}

{% block main %}
    <h1> All Tracks </h1>
    <table class="table">
        <tr> <th> ID</th> <th> Name </th>
            <td>Show</td> <td>Delete</td>
        </tr>

        {% for track in tracks %}
            <tr>
                <td>{{track.id}}</td>
                <td> {{track.name}}</td>
                <td> <a href="{{track.show_url}}" class="btn btn-info">Show </a> </td>
                <td>
                    <form action="" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>

        {% endfor %}

    </table>


{% endblock %}