{% extends './base.html' %}

{% block main %}
<h1> Track Info </h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="text-success card-text">
      Track --> <a href="{{ track.show_url }}">{{ track.name }}</a>
    </h4>
  </div>
</div>
  
<h1> Students in this track: </h1>
<ul>
    {% for std in track.students %}
        <li>
            <a href="{{ std.show_url }}"> {{ std.name }} </a>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('tracks.index') }}" class="btn btn-primary">Back to all Tracks</a>
{% endblock %}
