{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 18rem;">
  <img src="{{post.image_url}}" alt="{{ post.name }}" class="img-fluid">
  <div class="card-body">
      <h1>{{ post.name }}</h1>
      <p>{{ post.description }}</p>
      <a href="{{ url_for('post.edit', id=post.id) }}" class="btn btn-secondary">Edit</a>
      <br>
      <form action="{{ url_for('post.remove', id=post.id) }}" method="POST" style="display:inline;">
        <button type="submit" class="btn btn-danger">Remove</button>
      </form>
      <br>
      <a href="{{ url_for('landpage') }}" class="btn btn-primary">Back to All Posts</a>
  </div>
</div>

{% endblock %}
